<main th:fragment="home">
  <h1>Home</h1>

  <h2>Random artists </h2>
  <div class="card" th:each="artist : ${randomArtists}">
    <div th:text="${artist}"></div>
  </div>

  <h2>Random albums</h2>
  <div class="card" th:each="album : ${randomAlbums}">
    <div th:text="${album.title}"></div>
    <div class="category" th:text="${album.artist}"></div>
  </div>

  <h2>Random tracks</h2>
  <div class="card" th:each="track : ${randomTracks}">
    <div th:text="${track.name}"></div>
    <div th:text="${track.albumTitle}"></div>
  </div>
</main>