body {
  margin: 0;
  background-color: #9a9;
}

main {
  margin: 20px;
}

#menu {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  margin: 0;
  background-color: #222;
}

#menu a {
  display: inline-block;
  margin: 0;
  padding: 15px 50px;
  
  color: #ccc;
  text-decoration: none;
  border-right: 1px solid #ccc;
}

#menu a:hover {
  background-color: #555;
}

form {
  display: inline-block;
  position: relative;
}

input {
  outline: none;
}

.card {
  display: flex;
  margin: 10px;
}

.card span:first-child {
  font-weight: bold;
}

.card div {
  padding: 10px 15px;
  display: inline-block;
  background-color: #787;
  border: 1px solid #676;
}

.card div:nth-child(2) {
  background-color: #676;
  border-color: #565; 
}

.card div:nth-child(3) {
  background-color: #565;
  border-color: #454; 
}