<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <title>Experis Task 5: API Endpoints</title>
</head>

<body>
  <!-- Menu -->
  <div id="menu">
    <a href="/">home</a>
    <a href="/api-endpoints">api</a>

    <form action="/search">
      <input type="search" name="term" placeholder="Search..." autocomplete="off">
      <button type="submit">Search</button>
    </form>
  </div>

  <!-- Content -->
  <main>
    <h1>Available API Endpoints</h1>

    <div class="card block" th:each="endpoint : ${endpoints}">
      <div th:text="${endpoint.get(0)}"></div>
      <div>
        <a th:if="${endpoint.get(0) == 'GET'}" th:href="@{${endpoint.get(1)}}" th:text="${endpoint.get(1)}"></a>
        <span th:unless="${endpoint.get(0) == 'GET'}" th:text="${endpoint.get(1)}"></span>
      </div>
      <span th:text="${endpoint.get(2)}"></span>
    </div>

  </main>
</body>

</html>